#QTCreator
.qtc_clangd/
Megaminx
megaminx
megaminx.cflags
megaminx.config
megaminx.creator
megaminx.cxxflags
megaminx.files
megaminx.includes
#CMake
build
CMakeBuild
CMakeCache.txt
CMakeFiles
Debug
lib
log*.txt
obj/
Release
Thumbs.db
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
#Ignore files built by Visual Studio
#Ignore thumbnails created by Windows
*.aps
*.bak
*.cache
*.cmake
*.dir
*.ilk
*.log
*.make
*.ncb
*.pch
*.sbr
*.sln
*.suo
*.user
*.vcproj*
*.vcxproj*
*.vspscc
*ipch
*sdf
*_i.c
*_p.c
*~
.settings
.vs/
CMakeBuilds*
vc140.pdb
/enc_temp_folder/822fe0486f97ca2351f4bb56f9b2382c/solve.cpp
/enc_temp_folder/e311f84a53397d17e8eec0126cb04248/solve.cpp
.ninja_log
.ninja_deps
build.ninja

doc/solverAvg-50000-log.txt
doc/solverAvg-50000*.txt
