build
CMakeBuild
CMakeCache.txt
CMakeFiles
Debug
lib
log*.txt
Makefile
obj/
Release
Thumbs.db
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
#Ignore files built by Visual Studio
#Ignore thumbnails created by Windows
*.aps
*.bak
*.cache
*.cmake
*.dir
*.ilk
*.log
*.make
*.ncb
*.pch
*.sbr
*.sln
*.suo
*.user
*.vcproj*
*.vcxproj*
*.vspscc
*ipch
*sdf
*_i.c
*_p.c
*~
.settings
.vs/
CMakeBuilds*
vc140.pdb
