GLUT_ICON ICON "MAINICON.ico"
// Executable version information.
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        1,2,9,0
PRODUCTVERSION     1,2,9,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "genBTC"
      VALUE "FileDescription", "Megaminx v1.29 - genBTC mod"
      VALUE "FileVersion", "1.2.9.0"
      VALUE "InternalName", "Megaminx2"
      VALUE "LegalCopyright", "©2017 genBTC & TarasKhalymon"
      VALUE "OriginalFilename", "Megaminx2.exe"
      VALUE "ProductName", "Megaminx2"
      VALUE "ProductVersion", "1.2.9.0"
    END
  END
END