IDI_ICON1               ICON           "MAINICON.ico"
GLUT_ICON ICON "MAINICON.ico"
// Executable version information.
1 VERSIONINFO
FILEVERSION    1,4,5,0
PRODUCTVERSION 1,4,5,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "genBTC"
      VALUE "FileDescription", "Megaminx v1.4.5 - genBTC mod"
      VALUE "FileVersion", "1.4.5.0"
      VALUE "InternalName", "Megaminx"
      VALUE "LegalCopyright", "©2023 genBTC, based on TarasKhalymon"
      VALUE "OriginalFilename", "Megaminx.exe"
      VALUE "ProductName", "Megaminx"
      VALUE "ProductVersion", "1.4.5.0"
    END
  END
END
